.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  padding-top: 108px;
}

.app-main.chat-main {
  padding-top: 0;
}

@media (max-width: 720px) {
  .app-main {
    padding-top: 94px;
  }
}
